.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #d8d2d2;
}

.content {
  width: 924px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 218px;
}

.export {
  background-color: #2196f3;
  margin-left: 10px;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.word-list {
  list-style: none;
  padding: 0;
}

.word-list li {
  margin-bottom: 5px;
  padding: 5px;
  color: #d8d2d2;
}

.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-div {
  color: #d8d2d2;
}

.bar {
  background-color: #4caf50;
  color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.bar span {
  font-size: 14px;
}
.word-list-div h2{
  color:#d8d2d2;
}
.highcharts-credits{
  display: none;
}